
$font: TildaSans;

$menu: 400 rem(16)/1.2 $font;
$header-contacts: 500 rem(18)/1.2 $font;
$h1: 600 rem(42)/1.25 $font; 
$text12: 300 rem(14)/1.45 $font;
$text14: 300 rem(14)/1.55 $font;
$text16: 300 rem(16)/1.55 $font;
$text18: 300 rem(18)/1.55 $font;
$text20: 300 rem(20)/1.5 $font;
$text22: 300 rem(22)/1.5 $font;
$text24: 300 rem(24)/1.5 $font;
$h2: 600 rem(42)/1.23 $font;
$h2t: 600 rem(38)/1.23 $font;
$h2m: 600 rem(30)/1.23 $font;
$h3: 600 rem(30)/1.17 $font;
$h3t: 600 rem(28)/1.17 $font;
$h3m: 600 rem(24)/1.17 $font;
$h4: 600 rem(22)/1.35 $font;
$h4t: 600 rem(20)/1.35 $font;
$h4m: 600 rem(18)/1.35 $font;
$h5: 600 rem(20)/1.25 $font;
$h5t: 600 rem(18)/1.35 $font;
$h5m: 600 rem(16)/1.35 $font;
$price: 600 rem(20)/1.35 $font;
$pricet: 600 rem(18)/1.35 $font;
$pricem: 600 rem(16)/1.35 $font;
$contacts: 300 rem(20)/1.55 $font;
$contacts-bold: 700 rem(20)/1.55 $font;
// $h1-tablet: 400 rem(12.29)/1.2 $font;
// $h2: 400 rem(48)/1.2 $font;
// $h3: 400 rem(36)/1.3 $font;
// $subtitle: 400 rem(24)/1.2 $font;
// $btn: 500 rem(16)/1.4 $font;
// $text13: 400 rem(16)/1.3 $font;
// $text14: 400 rem(16)/1.4 $font;
// $smallpar: 300 rem(15)/1.2 $font;

$main: black;
$blackish: #333333;
$orange: #F9804B;
$beige: #fcf8f2;



$small-desktop-bp: 1240px;
$tablet-bp: 960px;
$mobile-bp: 640px;


