<section class="about" id="about">
    <div class="about__container container">
        <div class="card-about about__card">
            <div class="card-about__image">
                <img src="assets/images/Education.svg" alt="">
            </div>
            <div class="card-about__body">
                <h4 class="card-about__title">Образование</h4>
                <ul class="card-about__list">
                    <li class="card-about__item">Аспирантура Московского государственного университета им.&nbsp;Ломоносова</li>
                    <li class="card-about__item">Московский институт психоанализа им.&nbsp;Гуревича</li>
                    <li class="card-about__item">Московский государственный институт индустрии туризма им.&nbsp;Ю.&nbsp;А.&nbsp;Сенкевича по специальности "Глубинная психология"</li>
                    <li class="card-about__item">Камчатский государственный педагогический университет им.&nbsp;В.&nbsp;Беринга</li>
                </ul>
            </div>
        </div>
        <div class="card-about about__card">
            <div class="card-about__image">
                <img src="assets/images/Experience.svg" alt="">
            </div>
            <div class="card-about__body">
                <h4 class="card-about__title">Опыт</h4>
                <ul class="card-about__list">
                    <li class="card-about__item">2500+ часов частной практики</li>
                    <li class="card-about__item">Педагог-психолог в ГБОУ "Школа в Некрасовке"</li>
                    <li class="card-about__item">Психолог в реабилитационном центре "Малаховка"</li>
                    <li class="card-about__item">Методолог онлайн-курсов в университете "Синергия"</li>
                    <li class="card-about__item">Преподаватель онлайн-курсов в проекте "Московское долголетие"</li>
                </ul>
            </div>
        </div>
    </div>
</section>