<section class="expertise">
    <div class="container expertise__container">
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/mental.png" alt="">
            </div>
            <h3 class="expertise__item-title">Индивидуальная психотерапия</h3>
            <ul class="expertise__item-list">
                <li class="expertise__item-item">Эмоциональная зависимость</li>
                <li class="expertise__item-item">Созависимость (отношения с наркоманом, алкоголиком, игроманом)</li>
                <li class="expertise__item-item">Проработка травматических переживаний</li>
                <li class="expertise__item-item">Потеря близкого человека</li>
                <li class="expertise__item-item">Тревожность, апатия, подавленность</li>
                <li class="expertise__item-item">Глубокий жизненный кризис</li>
                <li class="expertise__item-item">Проблемы во взаимоотношениях</li>
                <li class="expertise__item-item">Психологическая помощь при разводе</li>
            </ul>
        </div>
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/family.png" alt="">
            </div>
            <h3 class="expertise__item-title">Семейная психотерапия</h3>
            <ul class="expertise__item-list">
                <li class="expertise__item-item">Диагностика семейной системы</li>
                <li class="expertise__item-item">Медиация семейных конфликтов</li>
                <li class="expertise__item-item">Воссоздание гармоничных отношений в паре</li>
                <li class="expertise__item-item">Помощь в воссоединении семьи после расставания (развода)</li>
            </ul>
            <h4 class="expertise__item-subtitle">Работа с подростками</h4>
            <ul class="expertise__item-list">
                <li class="expertise__item-item">Улучшение отношений с родителями. Рост доверия</li>
                <li class="expertise__item-item">Проработка травматических переживаний</li>
                <li class="expertise__item-item">Налаживание мотивации к учебе и творчеству</li>
                <li class="expertise__item-item">Профессиональная ориентация</li>
            </ul>
        </div>
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/group.png" alt="">
            </div>
            <h3 class="expertise__item-title">Наставничество</h3>
            <ul class="expertise__item-list">
                <li class="expertise__item-item">Увеличение осознанности</li>
                <li class="expertise__item-item">Работа с негативными убеждениями</li>
                <li class="expertise__item-item">Осознание своих истинных желаний</li>
                <li class="expertise__item-item">Изменение жизненного сценария</li>
                <li class="expertise__item-item">Включение проактивного мышления</li>
                <li class="expertise__item-item">Увеличение степени внутренней свободы</li>
                <li class="expertise__item-item">Выход на новый уровень</li>
            </ul>
        </div>
    </div>
</section>