<section class="expertise">
    <div class="container expertise__container">
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/mental.png" alt="">
            </div>
            <h3 class="expertise__item-title">Индивидуальная терапия</h3>
            <div class="expertise__item-text">
                Тревожность, депрессии, неврозы, проблемы во взаимоотношениях, 
                глубокий жизненный кризис (потеря смысла жизни)
            </div>
        </div>
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/family.png" alt="">
            </div>
            <h3 class="expertise__item-title">Семейная терапия</h3>
            <div class="expertise__item-text">
                Проблемы во внутрисемейных взаимоотношениях, проблемы с детьми
            </div>
        </div>
        <div class="expertise__item">
            <div class="expertise__item-image">
                <img src="/assets/images/group.png" alt="">
            </div>
            <h3 class="expertise__item-title">Групповая терапия</h3>
            <div class="expertise__item-text">
                Онлайн и оффлайн группы
            </div>
        </div>       
    </div>
</section>