<section class="features">
    <div class="features__container container">
        <h2 class="features__title">Особенности моего подхода</h2>
        <ul class="features__list">
            <li class="features__item feature">
                <h5 class="feature__title">Быстрое решение психологических проблем</h5>
                <div class="feature__text">Большинству клиентов достаточно от 1 до 5 сеансов</div>
            </li>
            <li class="features__item feature">
                <h5 class="feature__title">Сеанс в потоке</h5>
                <div class="feature__text">Легкое и непринужденное общение, принятие каждого без осуждения и навязывания концепций.</div>
            </li>
            <li class="features__item feature">
                <h5 class="feature__title">Взаимодействие с сознанием и бессознательным клиента</h5>
                <div class="feature__text">
                    Быстрота процесса исцеления происходит за счет осознания истинных желаний и происходящих процессов 
                    в психике, а также депрограммирования сложившихся установок клиента.
                </div>
            </li>
        </ul>
    </div>
</section>