<section class="feedback">
    <div class="container feedback__container">
        <h2 class="feedback__title">Отзывы</h2>
        <ul class="feedback__list" id="gallery">
            <li class="feedback__item" data-src="assets/images/20230331_170512.jpg">
                <img src="assets/images/20230331_170512.jpg" alt="">
            </li>
            <li class="feedback__item" data-src="assets/images/20230331_170518.jpg">
                <img src="assets/images/20230331_170518.jpg" alt="">
            </li>
            <li class="feedback__item" data-src="assets/images/Screenshot_20230313-.jpg">
                <img src="assets/images/Screenshot_20230313-.jpg" alt="">
            </li>
            <li class="feedback__item" data-src="assets/images/Screenshot_20230313-2.jpg">
                <img src="assets/images/Screenshot_20230313-2.jpg" alt="">
            </li>
            <li class="feedback__item" data-src="assets/images/Screenshot_20230313-3.jpg">
                <img src="assets/images/Screenshot_20230313-3.jpg" alt="">
            </li>
            <li class="feedback__item" data-src="assets/images/Screenshot_20230313-4.jpg">
                <img src="assets/images/Screenshot_20230313-4.jpg" alt="">
            </li>                        
        </ul>
    </div>
</section>