<header class="page-header">
    <div class="page-header__container">
        <div class="page-header__menu">
            <nav class="nav-main">
                <ul class="nav-main__list">
                    <li class="nav-main__item">
                        <a class="nav-main__link" href="#about">Обо мне</a>
                    </li>
                    <li class="nav-main__item">
                        <a class="nav-main__link" href="#price">Услуги и цены</a>
                    </li>
                    <li class="nav-main__item">
                        <a class="nav-main__link" href="#contacts">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="page-header__contacts">
            <a href="tel:+79152134159">+7 (915) 213-41-59</a><br>
            г. Люберцы, ул. Весенняя, д. 14
        </div>
    </div>
</header> 

