<section class="heading">
    <div class="container heading__container">
        <div class="heading__image">
            <img src="assets/images/GlinchikovaElena.jpg" alt="Психолог Елена Глинчикова">
        </div>
        <div class="heading__body">
            <h1 class="heading__title">Психолог Елена Глинчикова</h1>
            <div class="heading__text">
                Стаж более 10 лет. Кандидат философских наук.
                Автор многочисленных научных статей, образовательных курсов.
            </div>
        </div>
    </div>
</section>