<section class="price" id="price">
    <div class="container price__container">
        <h2 class="price__title">Услуги и цены</h2>
        <ul class="price__list">
            <li class="price__item">
                <div class="price__item-header">
                    <div class="price__item-service">Бесплатная консультация</div>
                    <div class="price__item-rate">0 ₽</div>
                </div>
                <div class="price__item-text">
                    На бесплатной консультации я помогу Вам определиться с запросом и дальнейшими шагами 
                    по решению Вашей проблемы. Время консультации -- 15 - 20 минут
                </div>
            </li>            
            <li class="price__item">
                <div class="price__item-header">
                    <div class="price__item-service">Индивидуальный прием</div>
                    <div class="price__item-rate">5000 ₽</div>
                </div>
                <div class="price__item-text">
                    Время консультации -- 60 минут. За это время происходит полный разбор одной локальной проблемы
                </div>
            </li>
            <li class="price__item">
                <div class="price__item-header">
                    <div class="price__item-service">Курс из пяти сеансов</div>
                    <div class="price__item-rate">20000 ₽</div>
                </div>
                <div class="price__item-text">
                    Для клиентов, которые решились на длительную психотерапию (от пяти сеансов), предусмотрены скидки
                </div>
            </li>
            <li class="price__item">
                <div class="price__item-header">
                    <div class="price__item-service">Семейная психотерапия</div>
                    <div class="price__item-rate">6000 ₽</div>
                </div>
                <div class="price__item-text">
                    Всесторонняя глубокая работа над отношениями в паре
                </div>
            </li>
        </ul>
    </div>
</section>