<section class="priem">
    <div class="priem__container container">
        <h2 class="priem__title">Запишитесь на прием</h2>
        <div class="priem__text">
            Оставьте личное сообщение 
            с указанием удобного для Вас времени и сути запроса
        </div>
        <div class="priem__socials">
            <a href="https://wa.me/79152134159" target="_blank">{{> whatsup }}</a>
            <a href="https://t.me/GlinchikovaE" target="_blank">{{> telegram }}</a>
        </div>
    </div>
</section>