<section class="publications">
    <div class="container publications__container">
        <h2 class="publications__title">Публикации</h2>
        <div class="publications__cards">
            <a class="card-publication publications__card" href="https://www.b17.ru/blog/271727/" target="_blank">
                <h4 class="card-publication__title">Одного сеанса достаточно</h4>
                <div class="card-publication__text">
                    Часто достаточно всего одного сеанса, чтобы человек понял, как родилась его проблема 
                    и как она может уйти в небытие. <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>
            <a class="card-publication publications__card" href="https://www.b17.ru/article/290823/" target="_blank">
                <h4 class="card-publication__title">Две стороны одной субличности</h4>
                <div class="card-publication__text">
                    «Бойтесь своих желаний» - знаменитая фраза. Иногда сложно понять ее смысл. 
                    Желанное кажется тем, что непременно приведет к избавлению, к расслаблению и долгожданному счастью.
                    <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>
            <a class="card-publication publications__card" href="https://www.b17.ru/article/348239/" target="_blank">
                <h4 class="card-publication__title">Критерии успешной психотерапии или как быстро и эффективно работать с проблемой</h4>
                <div class="card-publication__text">
                    Очень часто работа с психологом длится годами и эффект от нее не настолько сильный как хотелось бы.
                    <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>          
            <a class="card-publication publications__card" href="https://dzen.ru/a/Zur0sg8x41Hds10I" target="_blank">
                <h4 class="card-publication__title">Главный ключ к трансформации своей жизни</h4>
                <div class="card-publication__text">
                    Примерно 95% людей совершают эту ошибку, и я тоже нет-нет, да и возвращаюсь к этой привычной стратегии.
                    <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>
            <a class="card-publication publications__card" href="https://dzen.ru/a/ZvMBICEfeg76Z3xo" target="_blank">
                <h4 class="card-publication__title">«Одиночество благословенное» или скрытая суть отсутствия отношений</h4>
                <div class="card-publication__text">
                    Большинство людей, сталкиваясь с проблемой одиночества, думают, что их настигла беда. Но на самом деле, это все только кажется.
                    <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>
            <a class="card-publication publications__card" href="https://dzen.ru/a/ZuXTTtsDygZoJPbb" target="_blank">
                <h4 class="card-publication__title">5 убеждений, которые необходимо поменять, чтобы начать творить</h4>
                <div class="card-publication__text">
                    Первое, что мешает нам почувствовать себя творцом, это убеждение, что «Я ничего не могу».
                    <span class="card-publication__next-link">Читать далее</span>
                </div>
            </a>                                     
        </div>                      
    </div>
</section>
