<section class="networks">
    <div class="networks__container container">
        <h2 class="networks__title">Подписывайтесь на мои социальные сети</h2>
        <div class="networks__socials">
            <a href="https://vk.com/strannicae" target="_blank">{{> vk }}</a>
            <a href="https://t.me/myslysily" target="_blank">{{> telegram }}</a>
            <a href="https://www.youtube.com/channel/UC_iBebhdhRx2f0K3FmngBXA" target="_blank">{{> youtube }}</a>
        </div>
    </div>
</section>